{% extends 'template1.html' %}

{% block title %}
    <title>AirMed</title>
{% endblock %}

{% block style %}
<style>
.medair {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
}
.image-container {
    position: relative;
    display: inline-block;
}

.image-container > .translucent-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 230, 200, 0.2); 
    border-radius: 100px 0px 0px 100px;
    z-index: 1; 
}

.highlight-image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto; 
}

.navbar .nav-link {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.navbar .nav-link i {
    font-size: 1.5rem;
}

.navbar .navtext {
    font-size: 1.25rem;
    font-weight: bold;
    margin-left: 5px;
}
.separator {
    color: white;
    font-size: 1.5rem;
    padding: 0 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Copperplate&display=swap');

.airmed-title {
font-family: 'Copperplate', Arial, sans-serif;
font-size: 10rem;
font-weight: bold;
text-align: center;
background: linear-gradient(135deg, #08084d, #840101);
background-clip: text; 
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

text-transform: uppercase;
letter-spacing: 5px;
margin: 0 auto;
width: 100%;
display: inline-block;
}

.welcome-title h1 {
padding: 20px;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 10px;
}
.developed-title h2 {
font-size: 3rem;
font-weight: bold;
color: white;
text-align: center;
}

.edgetra h2{
font-size: 3.5rem; 
font-weight: bold;
text-align: center;
}

.fromteam{
display: inline;
}

.developers-list p {
font-size: 2rem;
color: white;
margin: 10px 0;
}

.developer-link {
text-decoration: none; 
color: white;
font-weight: bold;
}

.developer-link:hover {
color: #0077b5; 
}

.fab.fa-linkedin {
color: #0077b5;
font-size: 2rem;
}

.plain-link {
text-decoration: none;  
color: white;
font-weight: bold;
}

.plain-link:hover {
color: lightgray;
}

.container {
max-width: 800px;
margin: auto;
}
</style>
{% endblock %}

{% block site %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="translucent-box p-4">
                    <div class="welcome-title text-center">
                        <h1 class="airmed-title">AIRMED</h1>
                    </div>
                    <div class="fromteam">
                        <div class="text-center developed-title"><h2>From TEAM EDGETRA</h2></div>
                    </div>
                    <div class="developers-list mt-4 text-center">
                        <p>
                            <a href="https://www.linkedin.com/in/gautham-r2005/" target="_blank" class="developer-link"><i class="fab fa-linkedin me-2"></i>Gautham R</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/nukilanj/" target="_blank" class="developer-link"><i class="fab fa-linkedin me-2"></i>Nukilan J</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/lokesh-r-4a2b9728a/" target="_blank" class="developer-link"><i class="fab fa-linkedin me-2"></i>Lokesh R</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/pavan-profile" target="_blank" class="developer-link"><i class="fab fa-linkedin me-2"></i>Pavan P</a>
                        </p>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <a href="{{ url_for('about') }}" class="plain-link">See how this site works</a>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 d-flex justify-content-center align-items-center image-container">
                    <div class="translucent-box"></div>
                    <img src="static/logo.png" alt="Your Image" class="highlight-image">
            </div>
        </div>

    </div>
{% endblock %}